<div class="row mortgage-row">
  <div class="col-xs-12 col-md-6">
    <h3>Household finances</h3>
    <form class="" action="index.html" method="post">
      <label for="input-group">Yearly Income</label>
      <div class="row">
        <div class="col-xs-8">
          <div class="slider" id="income-slider"></div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input id="income-input" type="text" class="form-control"
              aria-label="Amount (to the nearest dollar)">
          </div>
        </div>
      </div>

      <hr>

      <label for="input-group">Monthly debt payments</label>

      <div class="row">
        <div class="col-xs-8">
          <div class="slider" id="debt-slider"></div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input id="debt-input" type="text" class="form-control"
              aria-label="Amount (to the nearest dollar)">
          </div>
        </div>
      </div>

      <hr>

      <label for="input-group">Down payment</label>
      <div class="row">
        <div class="col-xs-8">
          <div class="slider" id="downpayment-slider"></div>
        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input id="downpayment-input" type="text" class="form-control"
              aria-label="% of home value">
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3>Results</h3>

    <div class="row">
      <div class="col-xs-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>You can afford</h4>
          </div>
          <div class="panel-body house-value">$<span class="house-value" id='house-value'></span></div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Monthly payments*</h4>
          </div>
          <div class="panel-body monthly-payment">$<span id="monthly-payment"></span></div>
        </div>
      </div>
      <div class="col-xs-3">
        <span class="glyphicon glyphicon-home house"></span>
      </div>
    </div>
  </div>


  <footer class="col-xs-12 content">
    <div class="row">
      <div class="col-xs-4">
        <div class="">
          * Mortgage payments assume 30 yr loan term
        </div>
      </div>
      <div class="col-xs-6">
        Built using Rails, Backbone.js, and ZillowAPI through rails HTTP proxy
      </div>
    </div>
  </footer>
</div>
