<div class="container">
  <nav class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <div class="navbar-brand">
          HouseHunter
        </div>
      </div>
    </div>
  </nav>
  <div id="content">
  </div>
</div>

<script>
  HouseHunter.initialize();
</script>
