nav.navbar {
  position: relative;
  height: 6rem;
  width: 100%;
}

.fill {
  width:100%
}

.house {
  font-size: 10rem;
  color: rgb(25, 215, 25);
}

.mortgage-row {
  padding-bottom: 10rem;
}

footer.content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.house-value {
  font-size: 2rem;
  color: green;
}
